.footer {
  background-color: gray;
  .links {
    text-align: center;
    margin: 0;
    li {
      display: inline-block;
      margin: 20px;
      a, a:hover {
        color: white;
      }
    }
  }
}