<div bsModal #lgModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button [ngClass]="{reveal: currentSlide === 3}" tabindex="1" (click)='previous()' class="back-button btn"><i class="ion-chevron-left"></i> Back</button>
        <div class="title">{{slideTitle}}</div>
        <button  tabindex="1" type="button" class="close" (click)="lgModal.hide()" aria-label="Close modal">
          <i class="ion-ios-close-empty"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-progress" [ngClass]="{'slide-out': currentSlide > 3}">
          <div *ngFor="let item of items; let i = index" class="form-progress-item" [ngClass]="{current: currentSlide === i+offset}">{{i+1}}</div>
        </div>
        <div class="slides">
          <app-sign-in-up
            #form1
            *ngIf="showSignup"
            [ngClass]="{complete: currentSlide > 1}"
            [tabIndex]="tabIndex(1)"
            [modeInit]="'signup'"
            class="slide current"   
            (modeUpdate)="slideTitle = $event"    
            (authComplete)="next()"></app-sign-in-up>
          <app-form
            #form2
            [allFormInfo]="form2Info"
            [modeInit]="'form2'"
            [tabIndex]="tabIndex(2)"
            [ngClass]="{current: currentSlide >= 2, complete: currentSlide > 2}"
            class="slide"
            (formComplete)="saveForm2($event)"></app-form>
          <app-form
            #form3
            [allFormInfo]="form3Info"
            [modeInit]="'form3'"
            [tabIndex]="tabIndex(3)"
            [ngClass]="{current: currentSlide >= 3, complete: currentSlide > 3}"
            class="slide"
            (formComplete)="allFormsComplete($event)"></app-form>
          <div [ngClass]="{current: currentSlide >= 4}" class="slide confirmation-page">
            Confirmation
            <div *ngIf="generatedId">Your event "{{form2Data.eventName}}" is now live at
              <p><a (click)="goToEvent(generatedId)">{{domain}}/event/{{generatedId}}</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>