<nav id="navbar" class="navbar navbar-fixed-top navbar-default">
	<div class="">
		<div class="navbar-header">
			<a pageScroll [routerLink]="['/']" href="#app-home" class="navbar-brand">
				Home
			</a>
			<button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse fix-on-init" [ngClass]="{'navbar-closed': isCollapsed}">
			<ul class="nav navbar-nav">
        <li>
					<a pageScroll [pageScrollOffset]="51" [routerLink]="['/']" href="#app-events" >Events</a>
        </li>
			</ul>
		</div>
	</div>
</nav>
