.modal-content .modal-header {
  background-color: hotpink;
  border-radius: 5px 5px 0 0;
  position: relative; }
  .modal-content .modal-header .back-button {
    background: transparent;
    color: white;
    font-size: 18px;
    outline: none;
    position: absolute;
    transition: 0.2s all;
    opacity: 0; }
    .modal-content .modal-header .back-button:active {
      box-shadow: none; }
    .modal-content .modal-header .back-button.reveal {
      opacity: 1;
      transition: 0.5s all; }
  .modal-content .modal-header .title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    text-align: center;
    height: 20px;
    font-size: 20px;
    line-height: 1;
    color: white; }
  .modal-content .modal-header .close {
    float: right;
    margin-top: 4px;
    color: #69b4ff;
    opacity: 1;
    font-weight: normal;
    color: white;
    text-shadow: none; }
    .modal-content .modal-header .close i {
      font-size: 30px; }

.modal-content .modal-body {
  padding: 0;
  overflow: hidden; }
  .modal-content .modal-body .form-progress {
    margin: auto;
    padding: 15px;
    text-align: center;
    font-size: 45px;
    font-weight: 100;
    transition: 1s all; }
    .modal-content .modal-body .form-progress.slide-out {
      transform: translateX(-100%); }
    .modal-content .modal-body .form-progress .form-progress-item {
      color: #b9b9b9;
      width: 45px;
      border-radius: 50%;
      line-height: 1;
      padding: 9px;
      margin: 0 5px;
      display: inline-block;
      box-sizing: content-box; }
      .modal-content .modal-body .form-progress .form-progress-item.current {
        border: 1px solid; }
  .modal-content .modal-body .slides {
    position: relative;
    height: 500px;
    overflow: hidden; }
    .modal-content .modal-body .slides .slide {
      overflow-y: scroll;
      overflow-x: hidden;
      padding: 15px;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: block;
      transition: all 1s;
      transform: translateX(100%); }
      .modal-content .modal-body .slides .slide.current {
        transform: translateX(0); }
      .modal-content .modal-body .slides .slide.complete {
        transform: translateX(-100%); }
