.extra-nav {
  position: fixed;
  right: 3%;
  bottom: 3%;
  z-index: 2; }
  .extra-nav .extra-item {
    height: 50px;
    width: 50px;
    font-size: 40px;
    background-color: hotpink;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin: 0 15px;
    position: relative; }
    .extra-nav .extra-item i {
      position: absolute;
      top: 7%;
      left: 27%;
      font-size: 32px; }
