@import '../../styles/variables';
.sign-in-up-form {
  $itemWidth: 90%;
  .instructions {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 30px 0;
  }
  .title {
    margin-left: 5%;
  }
  input {
    width: $itemWidth;
    margin: 10px auto;
    padding: 2%;
    font-size: 18px;
    display: block;
  }
  .btn {
    background-color: $primaryColor;
    width: $itemWidth;
    color: white;
    display: block;
    margin: 30px auto;
    height: 60px;
    color: white;
    font-size: 30px;
    i {
      font-size: 23px;
      margin-bottom: 10px;
    }
  }
  .change-mode {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    a {
      color: gray;
    }
    a, a:hover, a:active {
      cursor: pointer;
      text-decoration: none;
    }
  }
}