<div class="container-image">
  <img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F21064970%2F129088587743%2F1%2Foriginal.jpg?w=1000&rect=0%2C167%2C1000%2C500&s=c3033c160e4f99c8929124074a53a70e" alt="" />
  <div class="overlay"></div>
  <div class="basic-info">
    <h1>FREE Michael Angelo Batio Clinic July 15th at GoDpsMusic</h1>
    <div>Fri, Jul 15 1:00 PM</div>
    <div>Houston, TX, United States</div>
    <div class="register">
      <button class="btn">Register externally</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="description">
    <p>10 SPOTS AVAILABLE!<br>Ten men will travel to the Channel Islands abroad the sailboat AANDEEL, skippered by Jim Voorhees of Oceanhills.</p>
    <p>The boat departs Oxnard's Channel Islands Harbor on August 17th at 11AM (show up by 10:30AM) and returns to Oxnard around 6PM on the 19th.</p>
    <p>Cost: $150, which covers all expenses other than travel to the boat in Oxnard.</p>
    <p>Ages: 15 and Up</p>
    <p>Sleeping accommodations: 5 spots at the campsite and 5 on the boat</p>
    <p><span>What to bring: All personal items needed for sleeping, hiking, swimming, bathing, sunscreen, Bible, etc.</span></p>
    <p>If you are staying on shore, then bring tents, pads, ground cloths, etc.</p>
    <p>All meals provided.</p>
    <p>Contact Jim Voorhees with questions at jimvoorheesnv@gmail.com.</p>
  </div>
  <div class="details">
    <h2>Details</h2>
    <div><i class="ion-calendar"></i> Friday July 15 2016 1:00 PM - 5:00 PM</div>
    <div><i class="ion-location"></i> Galleria Area, Houston, TX, United States - <a href="#">Map</a></div>
  </div>
</div>

<div class="google-map">
  <sebm-google-map 
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    [disableDefaultUI]="true"
    [scrollwheel]="false"
    [zoomControl]="true"
    [styles]="styles">
  </sebm-google-map>
  <h2>Galleria Area, Houston, TX, United States</h2>
</div>




