html, body {
  height: 100%; }

h2 {
  font-size: 20px; }

img {
  max-width: 100%; }

.circle-button:focus, .circle-button:active, .circle-button:focus:active {
  box-shadow: 0 0 11pt 4pt #83bffc;
  outline: none; }

.pac-container {
  z-index: 1050; }

.slim-loading-bar-progress {
  z-index: 2147483647;
  position: fixed;
  top: 60px;
  color: #69b4ff !important;
  background-color: #69b4ff !important; }
