<div class="input-item" [ngClass]="{'active-item': inputLength > 0 || inputFocused === true || type === 'file'}">
  <label
    (mousedown)="setFocus(0)"
    [ngClass]="{'select-box': type === 'select'}"
    attr.for="app-input-{{inputId}}">{{name}}</label>
  <input
    *ngIf="type !== 'select' && type !== 'textarea'"
    #inputElement
    [(ngModel)]="inputModel"
    (input)="onInput(inputElement.value)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    id="app-input-{{inputId}}"
    name="app-input-{{inputId}}"
    type="{{type}}"
    tabindex="{{tabIndex}}"
    placeholder=""
    [attr.required]="required ? true : null" />
  <textarea
    *ngIf="type === 'textarea'"
    #inputElement
    rows="4"
    [(ngModel)]="inputModel"
    (input)="onInput(inputElement.value)"
    (focus)="onFocus()"
    (blur)="onBlur()"
    id="app-input-{{inputId}}"
    tabindex="{{tabIndex}}"
    placeholder=""
    required="required"></textarea>
  <ng-select 
    #selectElement
    *ngIf="type === 'select'"
    [allowClear]="true"
    [items]="data"
    (selected)="onInput($event.id)"
    (removed)="onInput('')"
    (focus)="onFocus()"
    (blur)="onBlur()"
    placeholder="No city selected">
  </ng-select>
  <datepicker
    class="popup"
    *ngIf="type === 'datepicker' && showDatepicker"
    [(ngModel)]="dateModel"
    (selectionDone)="onDatepickerSelection($event)"
    [maxMode]="'day'"
    [showWeeks]="false"
    (ngModelChange)="hidePopup()"></datepicker>
</div>