@import './shared/styles/variables';
html, body {
  height: 100%;
}
h2 {
  font-size: 20px;
}
img {
  max-width: 100%;
}
.circle-button {
   &:focus, &:active, &:focus:active {
    // http://stackoverflow.com/a/6810937/5357459
    box-shadow: 0 0 11pt 4pt #83bffc;
    outline: none;
  }
}
.pac-container {
  z-index: 1050;
}
.slim-loading-bar-progress {
    z-index: 2147483647;
    position: fixed;
    top: 60px;
    color: $blue !important;
    background-color: $blue !important;
}