.loading-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.loading-area {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.loading-area h1 {
  font-size: 18px;
  color: gray;
}

.loading-area .loading-svg {
  margin: 0 auto;
}

.loading-area .loading-svg rect {
  fill: hotpink;
}
.loading-area .loading-svg rect.bk {
  fill: transparent;
}


@media (max-width: 700px) {
  .loading-area {
    width: 90%;
  }
  .loading-area .loading-svg {
    width: 30%;
  }
}

@media (max-width: 400px) {
  .loading-area h1 {
    font-size: 30px;
  }
}