<div class="events-container">
  <div class="cards">
    <div *ngFor="let event of events | async | appEventSearch:search:filteredCount | paginate: config;" class="card" [routerLink]="['/event', event.id]">
      <div class="content">
        <div class="card-img-container">
          <img class="card-img-top" [src]="event.logo?.url" alt=""  />
        </div>
        <div class="card-block">
          <h4>{{ event.name.text | appCleanDates }}</h4>
          <div class="date"><i class="ion-calendar"></i> {{event.start.local | amDateFormat:'ddd, MMM D'}}</div>
          <div class="show-details-container">
            <a class="show-details-link">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="filteredCount?.count === 0" class="no-results">
      No matches for "{{search}}"
  </div>
  <app-pagination (pageChange)="config.currentPage = $event" [config]="config"></app-pagination>
</div>

