.events-container {
  min-height: 700px; }
  .events-container .cards {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-flow: row wrap; }
    .events-container .cards .card {
      width: 33%;
      padding: 2%;
      position: relative;
      cursor: pointer; }
      .events-container .cards .card .content {
        border: solid 1px lightgray;
        height: 300px;
        position: relative; }
        .events-container .cards .card .content .card-img-container {
          height: 135px;
          overflow: hidden; }
          .events-container .cards .card .content .card-img-container .card-img-top {
            width: 100%; }
        .events-container .cards .card .content .card-block {
          padding: 7%; }
          .events-container .cards .card .content .card-block h1 {
            text-transform: capitalize; }
          .events-container .cards .card .content .card-block .show-details-container {
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            width: 100%;
            text-align: center; }
            .events-container .cards .card .content .card-block .show-details-container .show-details-link {
              font-size: 17px;
              color: #69b4ff; }
  .events-container .no-results {
    text-align: center;
    height: 300px;
    margin-top: 100px;
    font-size: 20px; }
