@import '../../styles/variables';
form {
  $itemWidth: 90%;
  .instructions {
    width: $itemWidth;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    padding: 30px 0; 
    &.error {
      color: red;
    }
  }
  .input-item {
    position: relative;
    width: $itemWidth;
    margin: 0 auto;
    margin-bottom: 30px;
    min-height: 47.44px;
    label {
      position: absolute;
      top: 12px;
      left: 10.219px;
      color: #adadad;
      font-weight: normal;
      font-size: 18px;
      background: white;
      z-index: 999;
      transition: all 0.15s;
      margin: 0;
      padding: 0 5px;
      margin-left: -5px;
      // Make label appear to not affect cursor
      cursor: text;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 50%;
        content: "";
        cursor: text;
      }
      &.select-box {
        cursor: pointer;
        &:after {
          cursor: pointer;
        }
      }
    }
    input, textarea {
      display: block;
      font-size: 18px;
      border-style: solid;
      border-color: $lightGray;
      border-width: 1px;
      padding: 10.219px;
      width: 100% !important; // !important prevents textarea width resizing 
      box-shadow: none;
    }
    .error-message {
      background-color: #f2dede;
      color: #b15655;
      font-size: 18px;
      padding: 12px 20px;
    }
    .help-message {
      background-color: #def2de;
      color: #55b156;
      font-size: 18px;
      padding: 12px 20px;
    }
    // ng2-select
    .ui-select-container {
      //position: initial;
      input {
        border-radius: 0;
        height: initial;
        &::placeholder {
          display: none;
        }
      }
      .ui-select-match {
        .ui-select-match-text {
          font-size: 18px;
          line-height: initial;
        }
      }
      .ui-select-choices {
        border-radius: 0;
        .dropdown-item {
          text-decoration: none;
          color: gray;
          font-size: 18px;
          & > div {
            padding: 1px 5px;
          }
        }
      }
      .form-control {
        &:focus {
          border-color: initial;
          box-shadow: initial;
          outline-color: rgb(59, 153, 252); // -webkit-focus-ring-color
          outline-style: auto;
          outline-width: 5px;
        }
        &.ui-select-toggle {
          padding: 10.219px;
          border-radius: 0;
          box-shadow: none;
          line-height: 1;
          height: 47.44px;
          width: 100%;
          border-color: $lightGray;
          &:hover {
            color: inherit;
            background-color: initial;
            border-color: $lightGray;
          }
          .ui-select-placeholder {
            font-size: 18px;
            color: #adadad;
            line-height: 1.42857143;
            position: absolute;
            transition: 1s all;
          }
          .close {
            display: none;
          }
          .pull-right.caret {
            border: none;
            margin-right: 16px;
            margin-top: 5px;
            &:before {
              content: "\f123";
              display: inline-block;
              font-family: "Ionicons";
              font-style: normal;
              font-weight: normal;
              font-variant: normal;
              text-transform: none;
              text-rendering: auto;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            } 
          }
        }
      }
    }
    &.active-item {
      label {
        transition: all 0.2s;
        transform: translateY(-100%);
        cursor: default;
      }
      .ui-select-container {
        .ui-select-placeholder {
          transform: translateY(-100%);
        }
      }
    }
  }
  // Date Group
  .group-label {
    text-align: left;
    padding: 10px 0;
    padding-left: 2%;
    clear: both;
  }
  .left-input {
    float: left;
    width: 43%;
    margin-left: 5%;
  }
  .right-input {
    float: left;
    width: 43%;
    margin-left: 4%;
  }
  .submit.btn {
    background-color: $primaryColor;
    width: $itemWidth;
    color: white;
    display: block;
    margin: 30px auto;
    height: 60px;
    color: white;
    font-size: 30px;
    i {
      font-size: 23px;
      margin-bottom: 10px;
    }
    &[disabled] {
      opacity: 0.6;
    }
  }
  .form-options {
    width: $itemWidth;
    margin: 0 auto;
    .option {
      box-shadow: none;
      &:first-of-type {
        padding-left: 0;
      }
    }
  }
  .extra-info {
    width: 100%;
    text-align: center;
    margin: 30px 0;
    a {
      color: gray;
    }
    a, a:hover, a:active {
      cursor: pointer;
      text-decoration: none;
    }
  }
}