form .instructions {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  padding: 30px 0; }
  form .instructions.error {
    color: red; }

form .input-item {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  min-height: 47.44px; }
  form .input-item label {
    position: absolute;
    top: 12px;
    left: 10.219px;
    color: #adadad;
    font-weight: normal;
    font-size: 18px;
    background: white;
    z-index: 999;
    transition: all 0.15s;
    margin: 0;
    padding: 0 5px;
    margin-left: -5px;
    cursor: text; }
    form .input-item label:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 50%;
      content: "";
      cursor: text; }
    form .input-item label.select-box {
      cursor: pointer; }
      form .input-item label.select-box:after {
        cursor: pointer; }
  form .input-item input, form .input-item textarea {
    display: block;
    font-size: 18px;
    border-style: solid;
    border-color: #b9b9b9;
    border-width: 1px;
    padding: 10.219px;
    width: 100% !important;
    box-shadow: none; }
  form .input-item .error-message {
    background-color: #f2dede;
    color: #b15655;
    font-size: 18px;
    padding: 12px 20px; }
  form .input-item .ui-select-container input {
    border-radius: 0;
    height: initial; }
    form .input-item .ui-select-container input::placeholder {
      display: none; }
  form .input-item .ui-select-container .ui-select-match .ui-select-match-text {
    font-size: 18px;
    line-height: initial; }
  form .input-item .ui-select-container .ui-select-choices {
    border-radius: 0; }
    form .input-item .ui-select-container .ui-select-choices .dropdown-item {
      text-decoration: none;
      color: gray;
      font-size: 18px; }
      form .input-item .ui-select-container .ui-select-choices .dropdown-item > div {
        padding: 1px 5px; }
  form .input-item .ui-select-container .form-control:focus {
    border-color: initial;
    box-shadow: initial;
    outline-color: #3b99fc;
    outline-style: auto;
    outline-width: 5px; }
  form .input-item .ui-select-container .form-control.ui-select-toggle {
    padding: 10.219px;
    border-radius: 0;
    box-shadow: none;
    line-height: 1;
    height: 47.44px;
    width: 100%;
    border-color: #b9b9b9; }
    form .input-item .ui-select-container .form-control.ui-select-toggle:hover {
      color: inherit;
      background-color: initial;
      border-color: #b9b9b9; }
    form .input-item .ui-select-container .form-control.ui-select-toggle .ui-select-placeholder {
      font-size: 18px;
      color: #adadad;
      line-height: 1.42857143;
      position: absolute;
      transition: 1s all; }
    form .input-item .ui-select-container .form-control.ui-select-toggle .close {
      display: none; }
    form .input-item .ui-select-container .form-control.ui-select-toggle .pull-right.caret {
      border: none;
      margin-right: 16px;
      margin-top: 5px; }
      form .input-item .ui-select-container .form-control.ui-select-toggle .pull-right.caret:before {
        content: "\f123";
        display: inline-block;
        font-family: "Ionicons";
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
  form .input-item.active-item label {
    transition: all 0.2s;
    transform: translateY(-100%);
    cursor: default; }
  form .input-item.active-item .ui-select-container .ui-select-placeholder {
    transform: translateY(-100%); }

form .group-label {
  text-align: left;
  padding: 10px 0;
  padding-left: 2%; }

form .left-input {
  float: left;
  width: 43%;
  margin-left: 5%; }

form .right-input {
  float: left;
  width: 43%;
  margin-left: 4%; }

form .submit.btn {
  background-color: hotpink;
  width: 90%;
  color: white;
  display: block;
  margin: 30px auto;
  height: 60px;
  color: white;
  font-size: 30px; }
  form .submit.btn i {
    font-size: 23px;
    margin-bottom: 10px; }
  form .submit.btn[disabled] {
    opacity: 0.6; }

form .form-options {
  width: 90%;
  margin: 0 auto; }
  form .form-options .option {
    box-shadow: none; }
    form .form-options .option:first-of-type {
      padding-left: 0; }

form .extra-info {
  width: 100%;
  text-align: center;
  margin: 30px 0; }
  form .extra-info a {
    color: gray; }
  form .extra-info a, form .extra-info a:hover, form .extra-info a:active {
    cursor: pointer;
    text-decoration: none; }
