<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="title">{{slideTitle}}</div>
        <button  tabindex="-1" type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <i class="ion-ios-close-empty"></i>
        </button>
      </div>
      <div class="modal-body">
        <app-sign-in-up
          #form
          [signupMode]="false"
          [modeInit]="'signin'"
          [tabIndex]="1"
          (modeUpdate)="slideTitle = $event" 
          (authComplete)="done()"></app-sign-in-up>
      </div>
    </div>
  </div>
</div>