@import '../../../shared/styles/variables';
.navbar {
	z-index: 3;
	background-color: $primaryColor;
	border-bottom: none;
	height: 60px;
	&.navbar-default {
		.navbar-brand, .navbar-nav > li > a {
			color: white;
			margin: 5px 0;
			&.sign-in {
				margin: 0;
			}
		}
		.navbar-brand {
			padding: 12px 15px;
			font-size: 25px;
		}
	}
	.navbar-pull-right {
		float: right;
	}
	.sign-in {
		font-size: 30px;
	}
}
@media (max-width: 768px) {
  .navbar-collapse {
		// ** Added because ng2-bootstrap was throwing error:
		//    'WARNING: sanitizing unsafe style value '
		//    while using [collapse]="isCollapsed" in the HTML 
		//    It started after upgrading the @angular/...2.0.0-rc.3 ** //
		&.navbar-closed {
			display: none;
		}
  }
}
