<nav id="navbar" class="navbar navbar-fixed-top navbar-default">
	<div class="">
		<div class="navbar-header">
			<a pageScroll [routerLink]="['/']" href="#app-home" class="navbar-brand glyphicon glyphicon-home">
				
			</a>
			<button type="button" class="navbar-toggle" (click)="isCollapsed = !isCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="navbar-collapse fix-on-init" [ngClass]="{'navbar-closed': isCollapsed}">
			<ul class="nav navbar-nav">
        <li>
					<a pageScroll [pageScrollOffset]="51" [routerLink]="['/']" href="#app-events">Events</a>
        </li>
				<li>
					<a pageScroll [pageScrollOffset]="51" [routerLink]="['/']" href="#app-home">Item #1</a>
        </li>
				<li>
					<a pageScroll [pageScrollOffset]="51" [routerLink]="['/']" href="#app-home">Item #2</a>
        </li>
				<li>
					<a pageScroll [pageScrollOffset]="51" [routerLink]="['/']" href="#app-home">Item #3</a>
        </li>
			</ul>
			<ul class="nav navbar-nav navbar-pull-right">
				<li>
					<a class="ion-log-in sign-in"></a>
        </li>
			</ul>
		</div>
	</div>
</nav>
<div class="extra-nav">
	<div class="extra-item">
		<i class="ion-chatbubbles"></i>
	</div>
	<div class="extra-item">
		<i class="ion-plus-round"></i>
	</div>
</div>
